
body {
  overflow: hidden;
}

.navigation-button {
  margin: 5px;
}

.App {
  min-height: 100vh;
  max-height: 100vh;
  width: 100vw;
  display: flex;
}

.search {
}

.header {
  position: fixed;
  height: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.margin-t {
  margin-top: 25px;
}

.results-list {
  height: 90vh;
  width: 100vw;
  overflow: scroll;
}
